<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.nts.nts13.root.dao.EmpMapper">
  <resultMap id="BaseResultMap" type="com.cn.nts.nts13.root.entity.Emp">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="info" jdbcType="VARCHAR" property="info" />
  </resultMap>
  <insert id="insert" parameterType="com.cn.nts.nts13.root.entity.Emp">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into emp (name, msg, info
      )
    values (#{name,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, msg, info
    from emp
  </select>
  <resultMap id="BaseResultMap" type="com.cn.nts.nts13.root.entity.Emp">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="info" jdbcType="VARCHAR" property="info" />
  </resultMap>
  <insert id="insert" parameterType="com.cn.nts.nts13.root.entity.Emp">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into emp (name, msg, info
      )
    values (#{name,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, msg, info
    from emp
  </select>
</mapper>